body {
    max-width: 985px;
    font-family: Arial, sans-serif; /* Text in arial, where available*/
    margin: 80px auto ; /* put some space below it  */
}

h1,h3 {
    /* These styles apply to h1 and h3 tags*/
    margin: 0;;
}

.intro-header,.intro-subheader {
    text-align: center;
}

#slide-show {
    position: relative;
    height: 740px;
    width: 985px;
    background-color: gray;
    margin-left: auto;  /* Auto center the box  */
    margin-right: auto;

    /* These styles are to make images we inject look nice*/
    background-position: center;
    background-size: cover;  /* fill the box edge-to-edge*/
    background-repeat: no-repeat;
}

#slide-show__content-container {
    width: 600px;
    height: 180px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    background-color: white;
    padding: 5px;
}

#slide-show__play-again-button {
    width: 50px;
    height: 50px;
    border-color: black;
    border-width: 6px;
    border-style: solid;
    border-radius: 50%;
    padding: 10px;
    position: absolute;
    left: 5px;
    bottom: 5px;
    background-color: white;
}

#slide-show__play-again-button:hover {
    cursor: pointer;
    background-color: lightsteelblue;
}

#slide-show__play-again-button:active {
    cursor: pointer;
    background-color: steelblue;
}
